footer {
    padding-top: 40px;
    display:block;
    min-height:200px;
    background: linear-gradient(0deg, rgba(50,2,20,1) 0%, rgba(156,41,91,1) 100%);
background: linear-gradient(0deg, rgba(6,18,70,1) 0%, rgba(6,0,45,1) 100%);
}

.contact-li {
    list-style-type:none;
    color: grey;
}

.contact-link {
    color:#ccc;
    text-decoration:none;
    transition: all 0.2s;
}

.contact-link:hover {
    color:#fff;
}


