.about-me-text {
    flex:1;
    padding-top: 20px;
}
.about-me-img-divider {
    flex:1;
}

.about-me-img {
    width:300px;
    display: block;
    margin: 0 auto;
}

.about-me-divider {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(0deg, rgba(11,56,128,1) 0%, rgba(41,129,156,1) 100%);
    color:#fff;
}
